<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
      <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
        <h1 class="display-10">Weather Desktop App </h1>
        <h5>Using Python Language and Django Framework</h5>
      </div>
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
   
</body>
</html>